@page
@model EShop.Web.Areas.Admin.Pages.Role.CreateModel

@{
    ViewData["PageHeader"] = Tuple.Create("Role Create", "");
}
<form method="post">

    <div class="card card-outline card-primary">
        <div class="card-header">
            <h3 class="card-title">Role Information</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            <div class="row">
                <div class="col-sm-6 border-right">
                    <div class="form-group">
                        <label asp-for="Entity.Name" class="control-label"></label>
                        <input asp-for="Entity.Name" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-right">
                <a asp-page="Index" class="btn btn-outline-danger">Back to List</a>
                <input type="submit" value="Create" class="btn btn-outline-info" />
            </div>
        </div>
    </div>

</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
