@page
@model EShop.Web.Pages.ContactModel
@{
}

<div class="card">
    <div class="card-body row">
        <div class="col-12 text-center d-flex align-items-center justify-content-center">
            <div class="">
                <h2>GET IN TOUCH</h2>
                <p class="lead mb-5">
                    123 Testing Ave, Testtown, 9876 NA<br>
                    Phone: +1 234 56789012
                </p>
            </div>

        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-4">
        <div class="callout callout-info h-100">
            <h6 class="ad-info text-uppercase mb-2 text-center"><i class="far fa-map"></i> &nbsp; Address</h6>
            <p class="text-center">
                Jwagal chowk, Kupandole road, Lalitpur
            </p>
        </div>
    </div>
    <div class="col-4">
        <div class="callout callout-warning h-100">
            <h6 class="ad-info text-uppercase mb-2 text-center"><i class="far fa-envelope"></i> &nbsp; Email</h6>
            <p class="text-center">
                <a href="mailto:areiconsatelier@gmail.com">areiconsatelier@gmail.com</a><br>
                <a href="mailto:info@areicon.com.np">info@areicon.com.np</a>
            </p>
        </div>
    </div>

    <div class="col-4">
        <div class="callout callout-success h-100">
            <h6 class="ad-info text-uppercase mb-2 text-center"><i class="fas fa-mobile-alt"></i> &nbsp; Phone</h6>
            <p class="text-center">
                <a href="tel:+97715524457">+977-01-5524457</a>,
                <a href="tel:+97715551150">5551150</a>, <br>
                <a href="tel:+9779841485376">+977-9841485376</a>,
                <a href="tel:+9779849028039"> 9849028039</a>
            </p>
        </div>
    </div>
    <div class="col-sm-12 mt-5">
        <div class="text-center">
            <a class="btn btn-app btn-facebook" href="https://www.facebook.com/The-Shrestha-Group-104324042252398/">
                <i class="fab fa-facebook fa-3x"></i>
            </a>
            <a class="btn btn-app btn-instagram" href="https://www.instagram.com/theshresthagroup">
                <i class="fab fa-instagram fa-3x"></i>
            </a>
            <a class="btn btn-app btn-linkedin" href="https://www.linkedin.com/in/the-shrestha-group-733b18240">
                <i class="fab fa-linkedin fa-3x"></i>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    </script>
}