@model IEnumerable<PageLink>
@inject IAuthorizationService AuthorizationService



<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Index" class="brand-link">
        <img src="~/images/areicon-logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">E-Shop</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/images/user.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="/Index" class="d-block">@User.GetUserProperty(CustomClaimTypes.GivenName) @User.GetUserProperty(CustomClaimTypes.Surname)</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i> <p>Administrator <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Role.Read)).Succeeded)
                        {
                            <li class="nav-item">
                                <a asp-area="Admin" asp-page="/Role/Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Roles</p>
                                </a>
                            </li>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.User.Read)).Succeeded)
                        {
                            <li class="nav-item">
                                <a asp-area="Admin" asp-page="/User/Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Users</p>
                                </a>
                            </li>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.User.Read)).Succeeded)
                        {
                            <li class="nav-item">
                                <a asp-area="Admin" asp-page="/User/TopCustomers" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Top 10 Customers</p>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i> <p>Catalog <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Category.Read)).Succeeded)
                        {
                            <li class="nav-item">
                                <a asp-area="Catalog" asp-page="/Category/Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Categories</p>
                                </a>
                            </li>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Product.Read)).Succeeded)
                        {
                            <li class="nav-item">
                                <a asp-area="Catalog" asp-page="/Product/Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Products</p>
                                </a>
                            </li>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Promotion.Read)).Succeeded)
                        {
                            <li class="nav-item">
                                <a asp-area="Catalog" asp-page="/Promotion/Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Promotions</p>
                                </a>
                            </li>
                        }

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user"></i> <p>Customer <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Invoice.Read)).Succeeded)
                        {
                            <li class="nav-item">
                                <a asp-area="Customer" asp-page="/Invoice/Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Invoices</p>
                                </a>
                            </li>
                        }
                        
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
